.header-bottom,
.header-top {
    justify-content: space-between
}

.item,
body {
    color: #f5f5f5
}

.items,
.logos,
.main-lang,
.main-left-img-cover {
    list-style: none;
    display: flex
}

@font-face {
    font-family: Kara;
    src: url(../Fonts/Kara/SGKara-Light.ttf);
    font-family: Vazir;
    src: url(../Fonts/vazir/Vazir.ttf)
}

html {
    scroll-behavior: smooth
}

* {
    font-family: Vazir;
    box-sizing: border-box
}

body {
    background-color: #000;
    direction: rtl;
    margin: 0 7rem;
    
}

.header-top {
    display: flex;
    border-radius: 30px;
    align-items: center;
    padding: 0 1rem;
    border: 2px solid #0f6;
    min-width: 40rem;
    margin-top: .5rem;
    justify-self: center
}

.header-top-img {
    width: 7rem;
    cursor: pointer
}

.logos {
    gap: 10px
}

.logos li {
    justify-content: center;
    display: flex
}

.logo {
    width: 2rem;
    height: 2rem;
    cursor: pointer
}

.logo-img {
    width: 100%
}

.items {
    gap: 1rem
}

.item {
    cursor: pointer;
    text-decoration: none
}

.header-bottom {
    display: flex;
    margin: 11.6rem 0;
    align-items: center
}

.header-bottom-imgs {
    width: 20rem
}

.header-bottom-img {
    border-radius: 100%;
    width: 100%;
    animation: 3s linear infinite Ngreen
}

@keyframes Ngreen {

    0%,
    100% {
        border: 3px solid #0f6
    }

    25%,
    75% {
        border: 3px solid #0fa
    }

    50% {
        border: 3px solid #00eaff
    }
}

.header-bottom-title {
    margin-bottom: -1.5rem
}

.header-bottom-title-sec {
    opacity: .7;
    font-weight: 100
}

.header-bottom-text {
    max-width: 50rem;
    
}

.header-bottom-button {
    padding: .5rem 1rem;
    color: #fff;
    border: 2px solid #0f6;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    width: fit-content;
    margin-top: 2rem;
    transition: .3s
}

.header-bottom-button:hover {
    background-color: #0f6;
    color: #000
}

.main-exp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem
}

.inputEmail,
.inputMessage,
.inputName,
.inputNumber,
.main-right {
    display: flex;
    flex-direction: column
}

.main-right-title {
    margin: 0
}

.main-right-title-sec {
    font-weight: 100;
    margin-bottom: -.5rem
}

.main-right-para {
    margin: 3rem 0;
    max-width: 25rem
}

.main-left {
    display: flex;
    overflow-x: scroll;
    width: 700px;
    gap: 1rem
}

.main-left-img {
    align-items: center;
    width: 20rem;
    border-radius: inherit;
    border: 1px solid gray
}

.main-left-img-cover {
    border-radius: 25px;
    align-items: center;
    cursor: pointer;
    width: 100%;
    flex-direction: column;
    text-decoration: none
}

.main-left-label {
    padding: .5rem;
    color: #f5f5f5;
    width: inherit;
    margin-top: -40px;
    text-align: center;
    border-radius: 0 0 25px 25px;
    background-color: #00000082
}

.main-tec {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column
}

.main-left::-webkit-scrollbar {
    width: 1rem
}

.main-left::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px
}

.main-left::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px
}

.main-tec-title {
    margin: 6rem 0
}

.main-tec-items {
    display: flex;
    justify-content: space-around;
    direction: ltr;
}

.main-tec-item {
    border: 1px solid #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    min-width: 300px;
}

.main-tec-item-title {
    align-self: center
}

.main-tec-item-langs {
    padding: 0
}

.main-lang {
    gap: 1rem;
    align-items: center;
    /* margin-left: 4rem */
}

.main-lang-text {
    font-weight: 100
}

.main-lang-img {
    width: 2rem;
    height: 2rem
}

.contactUs-input {
    padding: .5rem 1rem;
    width: fit-content
}

.contactUsContainer {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem
}
.contactUsTitle{
    text-align: center;
}

.contactUsButton {
    text-decoration: none;
    background-color: #fff;
    border-radius: 10px;
    color: #000;

    padding: 0.5rem 2rem;
    width: fit-content;
}

.contactUs-inputs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem
}

.contactUs-label {
    font-size: 14px
}

.inputEmail input {
    width: 17rem
}

.inputMessage {
    grid-column: 1/span 3
}

textarea {
    max-width: 40rem;
    max-height: 10rem;
    overflow: hidden;
    min-width: 20rem;
    min-height: 5rem
}

.contactUs-input {
    background-color: #53535376;
    border: none;
    border-radius: 10px;
    color: #fff;
    outline: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 0 0 5px #fff;
    border: 1px solid #fff;
    margin: 1rem auto
}

.copyright {
    text-align: center;
    font-size: 12px;
    color: #888;
    margin-top: 15px;
    direction: ltr
}

@media (max-width :1400px) {
    .header-bottom {
        gap: 5rem
    }
}

@media (max-width :1200px) {
    .main-tec-items {
        flex-direction: column;
        width: 30rem;
        gap: 3rem;
        align-self: center
    }

    .main-exp {
        flex-direction: column
    }
}

@media (max-width :1024px) {

    .header-bottom-para,
    .header-bottom-text {
        margin-left: auto;
        margin-right: auto
    }

    .header-bottom {
        flex-direction: column-reverse;
        margin-bottom: 5rem;
        margin-top: 3rem;
        gap: 1rem
    }

    .header-bottom-text {
        max-width: 800px;
        margin-top: 1.5rem
    }

    .header-bottom-title,
    .header-bottom-title-sec {
        text-align: center
    }

    .contactUs-inputs {
        display: flex;
        flex-direction: column
    }
    .inputName input , .inputEmail input , .inputNumber input , .inputMessage textarea{
        width: 100%;
    }
}

@media (max-width :900px) {
    .header-bottom-text {
        max-width: 700px
    }

    .header-top {
        min-width: 30rem
    }

    .header-top-img{
        display: none;
        
    }
    .items{
        padding: 0;
    }


@media (max-width :750px) {
    .header-bottom-text {
        max-width: 600px
    }

    .header-top {
        min-width: 25rem
    }
}

@media (max-width :640px) {
    body {
        margin: 0 1.8rem
    }

    .header-top {
        justify-self: center;
        align-items: center;
        min-width: 5rem
    }
   
    .items {
        padding: 0 1rem
    }

    .item:first-child {
        display: block
    }
    .header-bottom{
        margin-bottom: 1rem;
    }
    .header-bottom-text{
        text-align: center;
    }

    .header-bottom-img {
        display: flex;
        width: 15rem;
        margin-left: auto;
        margin-right: auto
    }

    .main-left {
        width: 100%
    }

    .main-left-img {
        width: 200px
    }

    .main-tec-items {
        width: 20rem
    }

    .main-tec-item {
        width: 19rem;
        align-self: center
    }
    .main-right{
        align-items: center;
        
    }
    
textarea {
    max-width: 33rem;
    max-height: 15rem;
    overflow: hidden;
    min-width: 10rem;
    min-height: 5rem;
}


    .footer-container {
        
        bottom: 0;
        backdrop-filter: blur(10px);
        padding: 0 20px;
        box-shadow: none;
        left: 10%;
        right: 10%
    }

    #del_phone {
        display: none
    }
}