@font-face {
    font-family: Kara;
    src: url(../Fonts/Kara/SGKara-Light.ttf);
    font-family: Vazir;
    src: url(../Fonts/vazir/Vazir.ttf);
}

* {
    font-family: Vazir;
    box-sizing: border-box;
}

body {
    background-color: black;
    /* color: rgb(161, 161, 161); */
    color: whitesmoke;
    direction: rtl;
    margin: 0 7rem;
}

/*  header  */
.header-top {
    box-shadow: 0px 0px 10px green;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    align-items: center;
    padding: 0 1rem;
    border: 1px solid greenyellow;
    min-width: 40rem;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-top: 0.5rem;
    justify-self: center;
}

.header-top-img {
    width: 7rem;
    cursor: pointer;
}

.logos {
    list-style: none;
    display: flex;
    gap: 10px;

}

.logo {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.logo-img {
    width: 100%;
}

.items {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.item {
    cursor: pointer;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    margin: 11.6rem 0rem;
    align-items: center;

}

.header-bottom-imgs {
    width: 20rem;

}

.header-bottom-img {
    border-radius: 100%;
    width: 100%;
    opacity: 1;
    animation: Ngreen 5s infinite linear;

}



@keyframes Ngreen {
    0% {
        border: 3px solid #00ff66
    }

    25% {
        border: 3px solid #00ffaa
    }

    50% {
        border: 3px solid #00eaff
    }

    75% {
        border: 3px solid #00ffaa
    }

    100% {
        border: 3px solid #00ff66
    }
}



.header-bottom-para {
    /* width: 50rem; */



}

.header-bottom-title {
    margin-bottom: -1.5rem;

}

.header-bottom-title-sec {
    opacity: 0.7;
    font-weight: 100;


}

.header-bottom-text {
    max-width: 50rem;

}

/*  main   */

.main-exp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.main-right {
    display: flex;
    flex-direction: column;
}

.main-right-title {
    margin: 0;

}

.main-right-title-sec {
    font-weight: 100;
    margin-bottom: -0.5rem;
}

.main-right-para {
    margin: 3rem 0;
    max-width: 25rem;

}

.main-left {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    width: 500px;

}

.main-left-img {
    width: 15rem;
    border-radius: inherit;


}

.main-left-img-cover:first-child {
    background: linear-gradient(50deg, rgb(5, 121, 5), rgb(170, 255, 0));
    transition: 0.5s;
}

/* .main-left-img-cover:first-child:hover {
    box-shadow: 0px 0px 40px green;

} */



.main-left-img-cover:nth-child(2) {
    background-color: white;
    transition: 0.5s;


}

/* .main-left-img-cover:nth-child(2):hover {
    box-shadow: 0px 0px 40px gray;


} */


.main-left-img-cover:nth-child(3) {
    background-color: black;
    transition: 0.5s;

}

/* 
.main-left-img-cover:nth-child(3):hover {

    box-shadow: 0px 0px 40px gray;
} */



.main-left-img-cover {
    border-radius: 20px;
    display: flex;
    align-items: center;

}

.main-tec {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;


}

.main-tec-title {
    margin: 6rem 0;
}

.main-tec-items {
    display: flex;
    justify-content: space-around;


}

.main-tec-item {
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    min-width: 240px;



}

.main-tec-item-title {}

.main-tec-item-langs {

    padding: 0;
}

.main-lang {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 5rem;
}

.main-lang-text {
    font-weight: 100;
}

.main-lang-img {
    width: 2rem;
    height: 2rem;

    /*   Footer   */
}

footer {

    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 0px 0px 5px white;
    border: 1px solid white;
    margin: 1rem 10rem;

}



/* Project Responsive */

@media (max-width : 1400px) {
    .header-bottom {

        gap: 5rem;
    }

}

@media (max-width : 1200px) {
    .main-tec-items {
        flex-direction: column;
        width: 30rem;
        gap: 3rem;

        align-self: center;
    }

    .main-exp {
        flex-direction: column;
    }

    footer {
        min-width: 25rem;
        justify-self: center;
    }


}

@media (max-width : 1024px) {

    .header-bottom-para {
        margin-left: auto;
        margin-right: auto;



    }

    .header-bottom-img {

        display: none;


    }

    .header-bottom {
        flex-direction: column;
        margin-bottom: 5rem;
    }

    .header-bottom-text {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5rem;
    }

    .header-bottom-title,
    .header-bottom-title-sec {
        text-align: center;

    }
}

@media (max-width : 900px) {
    .header-bottom-text {
        max-width: 700px;
    }

    .header-top {
        min-width: 30rem;
    }

}

@media (max-width :750px) {
    .header-bottom-text {
        max-width: 600px;

    }

    .header-top {
        min-width: 25rem;
    }

}

@media (max-width : 640px) {
    body {
        margin: 0 1.98rem;
    }

    .header-top {

        justify-self: center;
        align-items: center;
        min-width: 5rem;


    }

    .header-bottom {
        margin-top: 7rem;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .header-bottom-img {

        display: flex;
        width: 15rem;
        justify-self: center;



    }


    .main-tec-items {
        width: 15rem;
    }

    .main-tec-item {
        width: 15rem;
        align-self: center;
    }

    footer {
        position: fixed;
        bottom: 0;
        min-width: 20rem;
        backdrop-filter: blur(20px);
        padding: 0 20px;
        margin: 0;
        box-shadow: none;
        border: none;

    }

    #del_phone {
        display: none;
    }

}